body {
  
  margin: 0;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000000;
  padding-left: 240px;
}
.bg-color{
  background: #EFFBF8;
}
main {
  position: relative;
  height: 100vh;
}
main .helper {
  background: rgba(0, 0, 0, 0.2);
  color: #ffea92;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 1.2em 2em;
  text-align: center;
  border-radius: 20px;
  font-size: 2em;
  font-weight: bold;
}
main .helper span {
  color: rgba(0, 0, 0, 0.2);
  font-size: 0.4em;
  display: block;
}
.menu {
  background: #ffffff;
  /* height: 100vh; */
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;
}
.menu .avatar {
  background: #ffffff;
  padding: 2em 0.5em;
  text-align: center;
}
.name {
  position: relative;
  font-style: italic;
  font-size: 40px;
  /* font-family: var(--font-kristi); */
  line-height: 1;
  color: rgba(19, 15, 73, .07);
  display: block;
}
.back
{
  position: absolute;
    top: 50%;
    left: 39%;
    transform: translate(-30%, -70%);
    z-index: 1;
    /* font-family: var(--font-inter); */
    font-weight: 800;
    font-size: 20px;
    color: black;
    font-style: normal;
    margin-top: 5px;
}
.profile-img {
  width: 150px;
  border-radius: 50%;
  overflow: hidden;  
}
h2 {
  font-weight: normal;
  margin-bottom: 0;
}
.menu ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
}
.menu ul li  {
  padding: 2.0em 1em 0.5em 5em;
  font-size: 1.15em;
  font-weight: regular;
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: auto 20px;
  transition: all 0.15s linear;
  cursor: pointer;
}
.menu ul li a {
  color: #000000;
  text-decoration: none;
}
.menu ul li:focus {
  outline: none;
}
.sub-title{
  font-size: 20px;
  color: #A5A6FF;
  font-weight: 700;

}
/* @media screen and (max-width: 900px) and (min-width: 400px) {
  body {
    padding-left: 90px;
 }
  .menu {
    width: 90px;
 }
  .menu .avatar {
    padding: 0.5em;
    position: relative;
 }
  .menu .avatar img {
    width: 60px;
 }
  .menu .avatar h2 {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 100px;
    margin: 0;
    min-width: 200px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    transform: translate3d(-20px, -50%, 0);
    transition: all 0.15s ease-in-out;
 }
  .menu .avatar:hover h2 {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
 }
  .menu ul li {
    height: 60px;
    background-position: center center;
    background-size: 30px auto;
    position: relative;
 }
  .menu ul li span {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.5em;
    border-radius: 4px;
    top: 50%;
    left: 80px;
    transform: translate3d(-15px, -50%, 0);
    transition: all 0.15s ease-in-out;
 }
  .menu ul li span:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
 }
  .menu ul li:hover span {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
 }
} */
@media screen and (max-width: 700px) {
  body {
    padding-left: 0;
 }
  .menu {
    width: 230px;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-230px, 0, 0);
    transition: all 0.3s ease-in-out;
 }
  .menu .smartphone-menu-trigger {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 100%;
    background: #ffffff;
 }
  .menu .smartphone-menu-trigger:before, .menu .smartphone-menu-trigger:after {
    content: '';
    width: 50%;
    height: 2px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
 }
  .menu .smartphone-menu-trigger:after {
    top: 55%;
    transform: translate3d(-50%, -50%, 0);
 }
  .menu ul li {
    padding: 1em 1em 1em 3em;
    font-size: 1.2em;
 }
  .menu:focus {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
 }
  .menu:focus .smartphone-menu-trigger {
    pointer-events: none;
 }
}
nav ul li:hover a {  
  color:  #9b59b6;
  
}
nav ul li:focus{
  outline: none;
  background: white;
  color: red;
  box-shadow: 0 -5px 0 white;
}
nav .active-section {
	width: 40px;
}
.content-section{
	position: relative;		
	left: 50%;
  width: 70%;
	background-color: #ecf1f1;
  transform: translateX(-50%);
}
.content-section-home{
  padding: 100px 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(239,251,248);
}
.content-section-about-me{
  padding: 100px 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(239,251,248);
}
.content-section-home h1{
	/* position: relative; */
	top: 50%; 
  margin: 50px 0px;  
	left: 50%;	
  /* transform: translateX(-50%) translateY(0%); */
	
	font-size: 3em;
  font-weight: 800;
  font-size: 64px;  
  margin: 50px 0px;  
}
.content-section-home h1 span{
  color:#A5A6FF;
}
.content-section-home h2{
	/* position: relative; */
	top: 50%; 
	left: 50%;	   
	font-size: 2em;
  font-weight: 800;
  font-size: 64px;
  line-height: 82px;
}
.downloadBtn{  
    color: #fff;
    margin: 50px 0px;  
    background-color: #130f49;
    display: inline-block;
    border: 1.5px solid #130f49;
    border-radius: 4px;
    padding: 9px 40px;
    white-space: nowrap;    
    transition: all .3s ease;
    text-decoration: none;
}
.downloadBtn:hover{
  background-color: transparent;
  color: #55527c;
}
.main-img {
  width: 400px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #A5A6FF;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}

